<div>
  <img
    src="../../../assets/banner.png"
    alt="TuSegundazo.com Logo"
    class="logo mt-4"
  />
  <div class="divider"></div>
  <div class="mt-2 w-50 mx-auto">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Marca</th>
          <th scope="col">Línea</th>
          <th scope="col">Modelo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicle of vehicles">
          <td>{{ vehicle.id }}</td>
          <td>{{ vehicle.marca }}</td>
          <td>{{ vehicle.linea }}</td>
          <td>{{ vehicle.modelo }}</td>
        </tr>
      </tbody>
    </table>
    <div class="text-start" *ngFor="let marca of getBrands()">
      Total {{ marca }}: {{ counterVehicles[marca] }}
    </div>
  </div>
</div>
